<style>
.T_borderStyle { border-style: solid; border-width: 1px; border-color: rgb(200,170,100);
 }
.tableShadow {
	box-shadow: 2px 2px 15px 3px rgb(100,100,100); width: 95%
}
.shadow2 {
	box-shadow: 6px 6px 5px 1px rgb(200,200,200);
}
.GeeksForGeeks {
	width: fit-content; block-size: fit-content;
	box-shadow: 2px 2px 12px 3px lightslategrey;
	margin: auto;
}
</style>